
body {
    background-color: #ece5df;
    padding: 50px;
}

.thumbnail-div {
    outline: 1px solid #999;
    width: 235px;
    height: 200px;
    overflow: hidden;
    display: inline-block;
    margin: 20px;
    opacity: 0.5;
  -webkit-filter: grayscale(100%);
  -webkit-transition: .35s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .35s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .35s ease-in-out;  
}
.thumbnail-div:hover {
    opacity: 1.0;
  -webkit-filter: grayscale(0%);
  -webkit-transition: .35s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .35s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .35s ease-in-out; 
}

.thumbnail-div>img {
    max-width: 150%;
    min-width: 100%;
    min-height: 100%;
}

.smalltext {
    font-size: 0.7em;
}

#footnote-div {
    margin-top: 50px;
}

#powby {
    float: right;
}

.subtitle {
    text-align: center;
    margin-top: 30px;
}

.note {
    font-size: 0.8em;
    color: #777;
}
